.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    h2{
        padding-left: 40px;
        align-self: flex-start;
        color: rgb(128, 0, 0, 0.6);
    }

    .images{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        
        .profilePic{
            height: 28vh;
            width: 28vh;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid rgb(128, 0, 0, 0.6);
            position: absolute;
            top: 175px;
            left: 0;
            right: 0;
            margin: auto;

        }

        .cover{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }

    .profileContainer{
        height: fit-content;
        border: 2px solid rgb(128, 0, 0, 0.6);
        border-radius: 20px;
        width: 50vw;
        background-color: whitesmoke;
        margin-bottom: 30px;

        .userInfo{
            height: fit-content;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;


            .left{
                flex:1;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:5px;
                
                img{
                    height: 11vw;
                    width: 8vw;
                    border-radius: 15px;
                }

                p{
                    color:rgb(128, 0, 0, 0.6);
                    font-size: small;
                    margin: 0px;
                }

            }

            .right{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 10px;
                height:100%;
                flex:1;
                button{
                        height:3vw;
                        border: 2px solid rgb(128, 0, 0, 0.6);
                        width: 8vw;
                        border-radius: 10px;
                        background-color: rgb(128, 0, 0, 0.05);
                        color: rgb(128, 0, 0, 0.6);
                        font-weight: bold;
                        cursor: pointer;
                        
                }

                .numFriends{
                    display: flex;
                    justify-content: center;
                    border-radius: 10px;
                    border: 2px solid rgb(128, 0, 0, 0.6);
                    background-color: rgb(128, 0, 0, 0.05);
                    align-items: center;
                    height:3vw;
                    width: 8vw;
                    color: rgb(128, 0, 0, 0.6);
                    text-align: center;
                    font-weight: bold;

                }

            }

            .center{
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 3;
                padding-top: 90px;
                padding-right: 20px;
                span{
                    margin-top: 10px;
                    color: rgb(128, 0, 0, 0.7);
                    font-weight: bold;
                    font-size: large;
                    margin: -10px;
                    text-align: center;
                }

                .username{
                    color:grey;
                    font-size: small;
                }

                .bio{
                    color:rgb(128, 0, 0, 0.6);
                    font-size: small;

                }
            }
            
        }
    }


}