$themes: (
    light: (
        textColor: rgb(128, 0, 0, 0.6),
        bg: white,
        bgSoft: whitesmoke,
        textColorSoft: grey,
        border: rgb(128, 0, 0, 0.6),
    ),


    dark: (
        textColor: whitesmoke,
        bg: #222,
        bgSoft: #333,
        textColorSoft: lightgrey,
        border: rgb(128, 0, 0, 0.6),
    ),
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map{
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themes($key) {
    @return map-get($theme-map, $key);
}



@mixin mobile {
    @media (max-width:480px){
        @content;
    }
}